.container{
    position:relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.blueBg{
    position: absolute;
    top:40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,.15);
}

.blueBg .box
{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.blueBg .box h2
{
    /* color: #fff; */
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: var(--secondary-color); */
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0, .25);
    transition: .5s ease-in-out;
}
.formBox.active 
{
    left: 50%;
}
.formContainer
{
    position: absolute;
    flex-direction: column;
    /* text-align: center; */
    padding: 30px 30px;
    top: 0;
    left: 0;
}
.formContainer .title
{
    color: var(--primary-color);
    padding: 25px 0px;
}
.formFieldContainer
{
    width: 100%;
    /* padding: 0px 30px; */
}

::ng-deep.mat-form-field-underline 
{
    background-color: var(--primary-color) !important;
} 

.buttonContainer
{
    margin: 20px 0;
}

.btnLoginCard{
    width: 100%;

}
.btnGoogleContainer
{
    display: flex;
    /* position: relative; */
    margin: 10px 0px;
}
.btnGoogle
{
    /* position: absolute; */
    width: 100%;
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
}
.icon{
    color: #000;
    /* position: absolute; */
    margin-left: 5px;
}
