@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&display=swap');
@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';

:root
{
    --main-bg-color: #FFCDDD;
    --primary-color: #8946A6;
    --secondary-color: #B762C1;
    --tertiary-color: #EA99D5;
    --carbon: #2e2e2e;
    --disabled-background: #cccccc;
    --disabled-color: #666666;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'BioRhyme', serif;
    color: var(--carbon);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg-color);
    min-height: 100vh;
}

body.active
{
    background: var(--secondary-color);
}
.button
{
    cursor: pointer;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1em;
    font-weight: 500;
    border: none;

    
    
}
button:disabled{
  background-color: var(--disabled-background);
  color: var(--disabled-color);

}

.button.active
{
    background: #FFF;
    color: var(--primary-color);
}

/* MATERIAL */

mat-label
{
    color: var(--primary-color);
}


/* FIN MATERIAL */

/* @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
} */
